.carousel {
  max-width: 100vw;
  height: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #E2C5BC; */
  background-color: #e5dddb;
  margin: 0 0 0.3rem;
}

.upper-carousel {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.lower-carousel {
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #4f4038;
  font-weight: 500;
}

.content-type {
  width: 15rem;
  word-spacing: 5px;
  font-weight: 700;
}

.content-text {
  width: 35rem;
  text-align: justify;
  word-spacing: 5px;
}

.click-buttons {
  border: 1.5px solid #4f4038;
  padding: 7px 9px;
  border-radius: 1.1rem;
  color: #4f4038;
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5rem;
}

.textcar-button {
  border: none;
  background: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .carousel {
    height: 20rem;
  }
  .upper-carousel {
    height: 18rem;
    align-items: center;
    gap: 0;
  }
  .lower-carousel {
    height: 2rem;
  }
  .content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    width: 60%;
    margin: 5rem 0 0;
    /* padding: 1rem 0 0; */
    /* border: 1px solid black; */
  }
  .content-type {
    width: 100%;
  }
  .content-text {
    width: 100%;
    height: 15rem;
    line-height: 1rem;
    word-spacing: 0px;
  }
  .click-buttons {
    padding: 7px 9px;
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 1280px) and (min-width: 900px) {
  .carousel {
    height: 15rem;
  }
  .upper-carousel {
    height: 13rem;
    /* border: 1px solid black; */
    gap: 0;
  }
  .lower-carousel {
    height: 2rem;
    /* border: 1px solid black; */
  }
  .content {
    width: 80%;
    /* border: 1px solid black; */
  }
  .click-buttons {
    margin: 0 3rem;
  }
}
